* {
  font-family: sans-serif;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 20px;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}
.error {
  color: red;
  font-size: large;
  font-style: italic;
  font-weight: bold;
  animation: fadeIn 0.5s infinite alternate linear;
}

@keyframes fadeIn {
  from {
    opacity: 0.55;
    color: red;
  }
  to {
    opacity: 1;
    color: red;
  }
}
